.container {
  border: 1px solid var(--color-grey-050);
  display: grid;
  grid-template-columns: 1fr 5.5rem;
  grid-template-areas: "details image";
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  background: var(--color-white);

  & + & {
    margin: 1rem 0 0;
  }

  &.dragging {
    border-color: var(--color-blue-600);
    background-color: var(--color-blue-100);
    box-shadow: 0 1rem 2rem var(--color-black-a10);
  }
}

.details {
  grid-area: details;
  padding: 1rem;

  .title {
    font-family: var(--font-narrow);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

.imageContainer {
  grid-area: image;
  background: var(--color-grey-100);
  position: relative;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
  }
}

// .delete {
//   position: absolute;
//   inset: 0.5rem 0.5rem auto auto;

//   display: none;

//   @media (hover: hover) {
//     .container:hover & {
//       display: block;
//     }
//   }
// }
