.container {
  height: 2rem;
  width: 2rem;
  background: var(--color-blue-100);
  box-shadow: var(--inner-shadow-1px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--font-wide);
  font-weight: 600;
  color: var(--color-blue-300);
}
