@font-face {
  font-family: social;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/social/ABCSocial-Regular-Trial.woff");
}

@font-face {
  font-family: social;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/social/ABCSocial-Medium-Trial.woff");
}

@font-face {
  font-family: social;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/social/ABCSocial-Bold-Trial.woff");
}

@font-face {
  font-family: social;
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/social/ABCSocial-Black-Trial.woff");
}

///

@font-face {
  font-family: scto-a;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/scto-a/SctoGroteskA-Bold.woff");
}

@font-face {
  font-family: scto-a;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/scto-a/SctoGroteskA-Medium.woff");
}

@font-face {
  font-family: scto-a;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/scto-a/SctoGroteskA-Regular.woff");
}

@font-face {
  font-family: scto-a;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/scto-a/SctoGroteskA-Light.woff");
}

@font-face {
  font-family: scto-b;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/scto-b/SctoGroteskB-Bold.woff");
}

@font-face {
  font-family: scto-b;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/scto-b/SctoGroteskB-Medium.woff");
}

@font-face {
  font-family: scto-b;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/scto-b/SctoGroteskB-Regular.woff");
}

@font-face {
  font-family: scto-b;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/scto-b/SctoGroteskB-Light.woff");
}

h3 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

p a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-blue-600);
  text-decoration-color: var(--color-blue-300);
}

p.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-grey-600);
}

// @font-face {
//   font-family: Graphik;
//   font-weight: 500;
//   font-style: italic;
//   src: url("/fonts/Graphik-RegularItalic-Wed.woff");
// }
// @font-face {
//   font-family: Graphik;
//   font-weight: 600;
//   font-style: normal;
//   src: url("/fonts/Graphik-Medium-Web.woff2");
// }
// @font-face {
//   font-family: Graphik;
//   font-weight: 700;
//   font-style: normal;
//   src: url("/fonts/Graphik-Semibold-Web.woff");
// }
